body {
    color: white;
    background-color: #292828;
    font-family: Lato, Calibri;
}
input {
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    background-color: #313030;
    color: #7cd4fe;
    border: 2px solid #808080;
    border-radius: 4px;
}
.debug {
    width: 35px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 12px;
    box-sizing: border-box;
    background-color: #313030;
    color: #7cd4fe;
    border: 2px solid #808080;
    border-radius: 4px;
}
select {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #313030;
    color: #7cd4fe;
    border: 2px solid #808080;
    border-radius: 4px;
}

table {
width: 100%;
top: 0;
padding: 2px;
}
.left {
width: 20%;
padding: 2px;
}
p{
    margin-left: 2px;
    margin-bottom: 5px;
    margin-top: 8px;
}
h1 {
    margin-left: 5px;
}

#content {
display: flex;
flex-direction: row;
justify-content: left;
align-items: end;
}


#form{
    float: left;
    margin-left: 40px;
    overflow: auto;
    width: 45%;   

}
#result {
    float: left;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 2px solid #808080;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 4px;

}
